<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logueo</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

    <a href="/" class="btn-flotante" title="Volver al inicio">
        <i class="fa-solid fa-house"></i>
    </a>


    <section class="card-container">

        <section class="form-card">

            <p class="Title">Iniciar Sesión</p>
            <section class="google">
                <i class="fa-brands fa-google"></i>
                <p class="label">Usa tu gmail para iniciar sesión</p>
            </section>

            <!-- Alerta de error-->
            <div th:if="${error}" class="alert alert-error">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span class="alert-text" th:text="${error}">Error de login</span>
            </div>

            <!-- Alerta de logout -->
            <!-- <div th:if="${logoutMessage}" class="alert alert-info">
                <i class="fa-solid fa-circle-info"></i>
                <span class="alert-text" th:text="${logoutMessage}">Sesión cerrada</span>
            </div> -->

            <form th:action="@{/login}" method="post">
                <div class="input-group">
                    <div class="input-icon">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="email" name="username" th:value="${email}" placeholder="Email"
                            required />
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-icon">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="password" name="password" placeholder="Contraseña" required />
                    </div>
                </div>

                <div class="button-container">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                    <button type="submit">ACCEDER</button>
                </div>

                <div class="iniciar-sesion">
                    <p>O crea una cuenta <a href="/registro">Registrarse</a></p>
                </div>
            </form>
        </section>
        <section class="visual-card">
            <img th:src="@{/img/forms/login_mentor.png}" alt="img">
        </section>
    </section>

</body>

</html>